#container {
  height: 500px;
  width: 750px;
  background-color: white;
  margin: 100px auto;
  text-align: center;
  border: 5px solid black;
}
#image {
  height: 750px;
  height: 500px;
}

.btn {
  margin: 0 auto;
  height: 50px;
  width: 150px;
  margin: 10px;
}
